{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

<div class="container mt-5">
    <div class="add_new my-4">
        <a href="/author_add_blog" class="btn btn-outline-primary">Add New</a>
    </div>
    <table class="author_blogs_table">
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Created at</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>

        {% for blog in blogs %}
        <tr>
            <td class="blog_title_table">{{ blog.title }}</td>
            <td><img src="{{ blog.imageURL }}" alt="" width="200"></td>
            <td class="blog_desc_table">{{ blog.description|truncatewords:50 }}</td>
            <td>{{ blog.created_at }}</td>
            <td>{{ blog.category }}</td>
            <td>
                <a href="/author_update_blog/{{blog.id}}" class="m-2 btn btn-primary">Update</a>
                <a href="/author_delete_blog/{{blog.id}}" class="m-2 btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}